<div class="container">
  <div class="card cart">
    <label class="title">Adult And Child BMI Calculator</label>
    <div class="steps">
      <div class="step">
        <div>
          
        <div class="promo">
          <form class="form" #bmiform="ngForm">
            <label>Calculate BMI for :</label>
            <select class="input_field" name="age" ngModel>
              <option value="Age_20+">Adult Age 20+</option>
              <option></option>
            </select>
            <label for="">Weight :</label>
            <input type="text" class="input_field" name="weight" ngModel >
            <span class="pounds">
            <select class="input_field" name="weight_type" ngModel>
              <option value="pounds">pounds</option>
              <option value="kg">kg</option>
              <option></option>
            </select>
          </span>
          <label>Height: </label>
          <input type="text" class="input_field" name="height" ngModel >
            <span class="feet">
            <select class="input_field" name="height_type" ngModel>
              <option value="feet">feet</option>
              <option value="cm">cm</option>
              <option></option>
            </select>
            </span>
            <label>Inches:</label>
            <span><input type="text" class="input_field" name="inche" ngModel></span>
            <button type="reset">Clear</button>
            <button type="submit" (click)="bmi_calculate(bmiform.value)">Calculate</button>
          </form>
        </div>
        <hr>
        <div class="payments">
          <span>Answer:</span>
          <h3>BMI ={{bmi_result}}</h3>
          <h3>BMI Status ={{bmi_status}}</h3>
          <hr>
          <div class="details">
            <span><h4>BMI</h4></span>
            <span><h4>Status</h4></span>
            
            <span ><= 18.4</span>
            <span>Underweight</span>
            <span>18.5 - 24.9 </span>
            <span>Normal</span>
            <span>25.0 - 39.9 </span>
            <span>Overweight</span>
            <span>>= 40.0</span>
            <span>Obese</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card checkout">
    <div class="footer">
      <label class="price"></label>
      <button class="checkout-btn" type="submit" (click)="checkDiet()">Check Diet</button>
    </div>
  </div>
</div>
