
<h1>{{bmi_status}} Diet</h1>

<div style="border: 1px solid black; width: auto;height: auto;">
    <p >
        Try to snack on healthy, high-energy foods like cheese, nuts, milk-based smoothies and dried fruit.
         More tips for gaining weight safely include: using full cream milk in coffee, tea or with meals. 
        using healthy fats like olive oil or avocado in your meals.
    </p>
    <p>
Food groups in your diet:
1,eat at least 5 portions of a variety of fruit and vegetables every day (see 5 A Day)
2,base meals on higher fibre starchy foods like potatoes, bread, rice or pasta.
3,have some dairy or dairy alternatives (such as soya drinks)
4,eat some beans, pulses, fish, eggs, meat and other protein.
</p>
<p>
    Choose minimally processed, whole foods-whole grains, vegetables, fruits,
     nuts, healthful sources of protein (fish, poultry, beans), and plant oils. 
     Limit sugared beverages, refined grains, potatoes, red and processed meats, 
     and other highly processed foods, such as fast food.
</p>
<p>
    Choose minimally processed, whole foods-whole grains, vegetables, fruits, nuts, 
    healthful sources of protein (fish, poultry, beans), and plant oils. Limit sugared beverages, refined grains, potatoes, 
    red and processed meats, and other highly processed foods, such as fast food.
</p>


</div>
